/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10px;
    background-color: black;
}

.container {
    
    margin: auto;
    min-height: 100vh;
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: white;

}

.left-col {
    background-image: url("img/left-col-image.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-col {
    display: flex;
    flex-direction: column;
}

.row-one {
    font-size: 1.5rem;
    padding: 0.5rem;
    
    background-color: #E5E7EB;
}

.row-two {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.row-three {
    font-size: 1.5rem;
    padding: 0.5rem;

    background-color: #E5E7EB;
}

@media (orientation: landscape) {
    .left-col {
        flex-grow: 1;
        flex-basis: 30%;
        min-height: 100vh;
    }

    .right-col {
        flex-grow: 2;
        flex-basis: 60%;
        min-height: 100vh;
    }

    .row-one {
        flex-grow: 6;
    }
    
    .row-two {
        flex-grow: 5;
    }
    
    .row-three {
        flex-grow: 6;
    }
}

@media (orientation: portrait) {

    .container {
        min-width: 100vw;
        flex-direction: column;
    }
    
    .left-col {
        min-width: 100vw;
    }

    .right-col {
        flex-grow: 2;
        flex-basis: 60%;
    }

    .row-one {
        flex-grow: 1;
    }
    
    .row-two {
        flex-grow: 1;
    }
    
    .row-three {
        flex-grow: 1;
    }
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: rgba(0,0,0,0.5);

    padding: 0.5rem;
}

.logo > p {
    font-size: 2rem;
    color: white;
}

.logo > img {
    width: 4rem;
    filter: brightness(0) invert(1);
}

